<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

	<menuitem title="GST" name="gst-root" tag-style="important" icon-background="#871800" icon="fa-dashboard" if="__config__.app.isApp('gst')"/>
	
	<menuitem title="States" name="gst-root-state" action="action.gst.view.states" parent="gst-root"/>
	<action-view name="action.gst.view.states" title="States" model="com.axelor.apps.gst.db.State">
		<view type="grid" name="state-grid"/>
		<view type="form" name="state-form"/>
	</action-view>

</object-views>
